:host {
  display: block;
  max-width: 900px;
  margin: auto;
}

h4 {
  font-weight: 600;
}

.card {
  border-radius: 12px;
}

.table {
  background: white;
  border-radius: 10px;
  overflow: hidden;
}

.btn {
  min-width: 100px;
}
